###### getSAR, raw2slc,createBaselineList, SelectPairs  OPTIONS ###############################
source             = asf
satellite          = Alos
track              = 446
startFrame         = 7150
endFrame           = 7150
raw2slc_OrbitType  = HDR
%startDate          = 061001                      
%endDate            = 090101                     
selectMethod        = Delaunay
perpBaseMax         = 1500                         
%masterPeriod       = [ 061001 070305 ]              
%slavePeriod        = [ 070307 090101 ]             
DopOverlapThresh    = 15
####### ROI_PAC OPTIONS ##############################
DEM                = $$TESTBENCH/process_rsmas_Alos/ROIPAC_DEMS/echaussard/Kerinci/Kerinci_30m.dem
flattening         = orbit
OrbitType          = HDR
Rlooks_sim         = 2
Rlooks_int         = 4
Rlooks_unw         = 4
Filt_method        = psfilt_adapt_filt
FilterStrength     = 0.5/4
unw_method         = snaphu
UnwrappedThreshold = 0.10
maskingwith0height = TRUE
#web               = --wildcard 'geo*[0-9].unw.dem*jpg' --wildcard 'filt*SIM*rlks.intamp*jpg' --wildcard 'geo*.unw.kmz'
#email              = --geo --kmz --to amelung
clean              = --KeepSBASgeo --DoItFrom vexall
#masterSLCdate      =  080218
####### TSSAR   OPTIONS ##############################
tssar                         = TRUE

dir_out_parent                =  $TESTBENCH/process_rsmas_Alos

inputdataopt.readFormat       = single
inputdataopt.seed             = max 
inputdataopt.cortresh         = 0.3
inputdataopt.percentcortresh  = 70
inputdataopt.Tcortresh        = 0
inputdataopt.APSspatial       = 20   % In pixels
inputdataopt.APStemporal      = 200  % In days

inputdataopt.rateopt.method			     = linear
inputdataopt.rateopt.time_range		     = [2003 2008]

%inputdataopt.removeplane.poly.x         = [50 350 350 50;150 150 350 350;280 280 350 350]
%inputdataopt.removeplane.poly.y         = [150 150 300 300;440 600 600 440;300 380 380 300]
inputdataopt.removeplane.method          = secondorderpolyn
inputdataopt.removeplane.filter_outliers = on
% 

%runningopt.check_interferograms = yes
%runningopt.check_curl        = yes
%runningopt.check_ampcorrmask = yes

runningopt.remove_plane       = yes
runningopt.tempcorrmask       = yes
runningopt.topo_error         = yes
runningopt.timeseries         = yes

runningopt.APS                = yes
%displayopt.baselineplot      = yes
%displayopt.timeseries        = yes
