####### getSAR, raw2slc and createBaselineList  options ###############################
source                      = winsar
satellite                   = Ers
track                       = 442
startFrame                  = 2781
endFrame                    = 2871
moveData		            = yes
raw2slc_OrbitType           = ODR
interferogramList  	        = [ 970619-970724 970724-980115 970619-980115 ]
DopOverlapThresh            = 15    
####### ROI_PAC OPTIONS ##############################
DEM                         = $TESTBENCH/noel_JGRpaper/ROIPAC_DEMS/ngourmelen/T442/T442_IREA.dem
Rlooks_sim                  = 2
Rlooks_int                  = 8
Rlooks_unw                  = 8
meter_per_cycle             = 6.283
unw_method                  = snaphu
snap_conncomthresh          = 60
Filt_method                 = psfilt_adapt_filt
FilterStrength              = 0.5/4
UnwrappedThreshold          = 0.10
maskingwith0height          = TRUE
#web   = --wildcard 'geo*[0-9].unw.dem*jpg' --wildcard 'filt*SIM*rlks.intamp*jpg' --wildcard 'geo*.unw.kmz'
#clean              = --KeepSBASgeo --DoItFrom vexall
masterSLCdate               = 970619
