####### getSAR, raw2slc,createBaselineList, SelectPairs  options ###############################
#sarDataGroup      = [ T399F2781EnvD2 T127F2781EnvD2 T492F819EnvA2 T220F819EnvA2 ]
source             = winsar
satellite          = Ers
track              = 399
startFrame         = 2781
raw2slc_OrbitType  = HDR
startDate          = 070501                      
endDate            = 080831                     
selectMethod       = All            
perpBaseMax        = 250                             # some comment
temporalBaseMin    = 0.1                             # minimum temporal baseline
temporalBaseMax    = 10.0                            # maximum temporal baseline
excludeList        = [ 040114 060215 060306 060426 071212 080107 080211 080116 080123 080220 080204 080227 080310 080326]   % Snow
DopOverlapThresh   = 15    
####### ROI_PAC OPTIONS ##############################
DEM                = $TESTBENCH/process_rsmas_Ers-winsar/ROIPAC_DEMS/famelung/wells_quake/wells_srtm3.dem
flattening         = orbit
%OrbitType          = HDR
Rlooks_sim         = 1
Rlooks_int         = 4
Rlooks_unw         = 4
meter_per_cycle    = 6.283
unw_method         = snaphu
snap_conncomthresh = 60
Filt_method        = psfilt_adapt_filt
FilterStrength     = 0.5/4
unw_method         = snaphu
UnwrappedThreshold = 0.10
maskingwith0height = TRUE
#web               = --wildcard 'geo*[0-9].unw.dem*jpg' --wildcard 'filt*SIM*rlks.intamp*jpg' --wildcard 'geo*.unw.kmz'
email              = --geo --kmz --to amelung
clean              = --KeepSBASgeo --DoItFrom vexall
######################################################
